body{
  margin: 0;
  padding: 0;
  background-image: url(../assets/img/img1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;

}
header{
  background: #663399;
  width: 100%;
  font-size: 20px;
  color: #ffff;
}
#container{
  margin: 0;
  padding: 0;
  padding: 15px;
}
h2{
  font-family: 'Zilla Slab Highlight', cursive;
  color: pink;
}
ul{
  padding: 10px;
  position: relative;
}
li {
  display: inline;
  justify-content: space-between;
}
.form{
  position: relative;
  margin: 10px;
  left:10px;
}
.icon-search{
  margin-left: 50px;
  position: absolute;
  right: 5px;
  bottom: 1px
}
.icons3{
  display: inline;
  position: relative;
  left: 50%;
}
.icons-right{
  margin: 20px;
}
.title{
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px;
  position: absolute;
  bottom:-10px;
  left: 50%;
}
input{
  padding: 10px;
  width: 200px;
  height: auto;
  border: hidden;
  filter:opacity(.5);
  border-radius: 10px;
}
